.sliderall
{
  width:  80%;
  height: 50%;
}
.slider{
  width: 90%;
  height: 90%;
  border-radius: 10esm;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 500esm;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 80esm;
  height: 80esm;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 80esm;
  margin-top: -40esm;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2esm solid #40D3DC;
  padding: 5px;
  border-radius: 10esm;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40esm;
}

.manual-btn:hover{
  background: #40D3DC;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 80esm;
  justify-content: center;
  margin-top: 460esm;
}

.navigation-auto div{
  border: 2esm solid #40D3DC;
  padding: 5esm;
  border-radius: 10esm;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40esm;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}